<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About the course</h2>
                <hr class="light">
                <p class="text-faded">The University of Helsinki offers a <a class="text-info" href="https://www.helsinki.fi/en/programmes/master/data-science">MSc program in Data Science</a> that organizes a <a href="https://courses.helsinki.fi/en/data11004">Data Science Project course</a>. During the course, students work on practical data science projects in small groups, providing prototype data science products for external clients, such as companies or research organizations.</p>
                <h2 class="light">What you get</h2>
                <p class="text-faded">A group of skilled and enthusiastic master's level students working on a project related to your interests. You also get in close contact with potential recruits.</p>
                <h2 class="light">What we expect</h2>
                <p class="text-faded">Every project should offer a possibility to work on real data, either provided by the client or available as open data. We also expect a responsible contact person who agrees to meet with the group 2-3 times during the course, to provide comments on their plans and final results.</p>
                <h2 class="light">Interested?</h2>
                <p class="text-faded">Do you have a project topic to contribute?</p>
                <p>Then click the button below to complete a simple form.</p>
                <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=WXWumNwQiEKOLkWT5i_j7jGkNdZSw6ZMmDVvkuI4mi9UOEg3R1A3TDVSRkc3QkRLRVo0R0ZQMUdTUy4u" class="btn btn-default btn-xl">Submit project topic</a>
            </div>
        </div>
    </div>
</section>
