<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Previous clients and projects.</h2>
                <p>Previous offerings of the course were organized by professor <a href="https://www.cs.helsinki.fi/u/aklami/">Arto Klami</a>.</p>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3><a href="https://frosmo.com/">Frosmo</a></h3>
                    <p class="text-muted">User behavior in online games.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3><a href="https://home.kpmg/fi/fi/home/tietoa-kpmgsta/offices/helsinki-3.html">KPMG Finland</a></h3>
                    <p class="text-muted">Automated account mapping.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3><a href="https://www.helsinki.fi/en/inar-institute-for-atmospheric-and-earth-system-research">Institute for Athmospheric and Earth System Research (INAR)</a></h3>
                    <p class="text-muted">Atmospheric aerosol modeling.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3><a href="https://omastadi.hel.fi/">OmaStadi - City of Helsinki</a></h3>
                    <p class="text-muted">Analysis of citizen proposals.</p>
                </div>
            </div>
        </div>
    </div>
</section>
